<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App Title</title>
    <style>
        html,
        body,
        body>div,
        #container,
        #container-uiarea {
            height: 100%;
        }
    </style>

    <script>
        window["sap-ushell-config"] = {
            defaultRenderer: "fiori2",
            renderers: {
                fiori2: {
                    componentData: {
                        config: {
                            enableNotificationsUI: false,
                            enableNotifications: false,
                            enableSearch: false,
                            enablePersonalization: false,
                            enableSetTheme: true,
                            enableSetLanguage: true,
                        },
                    },
                },
            },
            bootstrapPlugins: {
                RuntimeAuthoringPlugin: {
                    component: "sap.ushell.plugins.rta",
                    config: {
                        validateAppVersion: false,
                    },
                },
            },
            services: {
                EndUserFeedback: {
                    config: {
                        enabled: false,
                    },
                },
            },
            applications: {},
            /* MODULE_PATHS */
        };
    </script>

<script defer id="sap-ushell-bootstrap" src="LIB_URL/test-resources/sap/ushell/shells/sandbox/fioriSandboxInitialConfig.js"></script>
<script id="sap-ushell-bootstrap" src="LIB_URL/test-resources/sap/ushell/bootstrap/sandbox.js"></script>
<script defer id="sap-ui-bootstrap"
        src="LIB_URL/resources/sap-ui-core.js"
        data-sap-ui-compatVersion="edge"
        data-sap-ui-theme="THEME"
        data-sap-ui-libs="sap.m, sap.ui.core, sap.ushell, sap.fe.templates"
        data-sap-ui-async="true"
        data-sap-ui-flexibilityServices='[{"connector": "LocalStorageConnector"}]'
        data-sap-ui-oninit="module:sap/ushell/shells/sandbox/fioriSandboxInit"
        data-sap-ui-resourceroots='{
            "sap.ushell.shells.sandbox": "LIB_URL/test-resources/sap/ushell/shells/sandbox/"
        }'></script>
</head>
<body class="sapUiBody sapUShellFullHeight">
    <div id="canvas" class="sapUShellFullHeight"></div>
</body>
<script>
(function () {
    "use strict";
    function parseServiceResponse(sText) {
        try {
            var o = JSON.parse(sText);
            if (typeof o === "number") return o;
            if (o.number !== undefined) return o.number;
            var v = o.value;
            if (typeof v === "number") return v;
            if (v && v.number !== undefined) return v.number;
        } catch (e) {
            var n = parseFloat(sText.trim());
            if (!isNaN(n)) return n;
        }
        return undefined;
    }
    function updateDynamicTiles(oLaunchPage) {
        oLaunchPage.getGroups().done(function (aGroups) {
            aGroups.forEach(function (oGroup) {
                oLaunchPage.getTiles(oGroup).forEach(function (oTile) {
                    var sUrl = oTile.properties && oTile.properties.serviceUrl;
                    if (!sUrl) return;
                    fetch(sUrl)
                        .then(function (r) { return r.text(); })
                        .then(function (sData) {
                            var nValue = parseServiceResponse(sData);
                            if (nValue === undefined || nValue === null) return;
                            oLaunchPage.getTileView(oTile).done(function (oView) {
                                try {
                                    var oContent = oView.getTileContent()[0].getContent();
                                    if (oContent && typeof oContent.setValue === "function") {
                                        oContent.setValue(String(nValue));
                                    }
                                } catch (e) { /* tile not yet rendered */ }
                            });
                        })
                        .catch(function () { /* backend not reachable */ });
                });
            });
        });
    }
    function startTileUpdater() {
        sap.ushell.Container.getServiceAsync("LaunchPage").then(function (oLaunchPage) {
            setTimeout(function () { updateDynamicTiles(oLaunchPage); }, 1500);
            setInterval(function () { updateDynamicTiles(oLaunchPage); }, 30000);
        });
    }
    function waitForContainer(nAttempts) {
        if (window.sap && sap.ushell && sap.ushell.Container) {
            startTileUpdater();
        } else if (nAttempts > 0) {
            setTimeout(function () { waitForContainer(nAttempts - 1); }, 500);
        }
    }
    waitForContainer(30);
})();
</script>

</html>